{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "decorator-metadata-typescript",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}